.int{
    color: blueviolet;
    font-family: Consolas;
}
.comillas{
    color: brown;
    font-family: Consolas;
}
.dotss{
    color: brown;
    font-family: Consolas;
}
.punto{
    color: brown;
    font-family: Consolas;
}
.float{
    color: blue;
    font-family: Consolas;
}
.bool{
    color: darkgoldenrod;
    font-family: Consolas; 
}
.parentesis{
    color: pink;
    font-family: Consolas;
}
.llaves{
    color: grey;
    font-family: Consolas;
}
.corchetes{
    color: lavender;
    font-family: Consolas;
}
.punctuation{
    color: gold;
    font-family: Consolas;
}
.comment {
    color: green;
    font-style: italic;
    font-family: "Inconsolata";
}
.keyword{
    color: violet;
    font-family: Consolas;
}
.macros{
    color: royalblue;
    font-family: Consolas;
}
.isiden{
    color: lawngreen;
    font-family: Consolas;
}
.modules{
    color: aqua;
    font-family: Consolas;
}
.signed_int_type{
    color: saddlebrown;
    font-family: Consolas;
}
.unsigned_int_type{
    color: hotpink;
    font-family: Consolas;
}
.primitivo_type{
    color: fuchsia;
    font-family: Consolas;
}
.struct{
    color: darkcyan;
    font-family: Consolas;
}
.isfuction{
    color: wheat;
    font-family: Consolas;
}
.ismodulefromresult{
    color: tan;
    font-family: Consolas;
}
.identifier{
    color: black;
    font-family: Consolas;
}